@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p class="text-justify">
        This is a small project made by Micah for their AMScreen interview. Having used ASP.NET MVC professionally at Compare the Market,
        I wanted to explore and demonstrate my ability to learn by learning how to use ASP.NET Core MVC. I started learning ASP.NET MVC proper
        on Saturday, exploring the Microsoft documentation, following the example project tutorial, and watching videos such as Tim Corey's fantastic
        "<a href="https://www.youtube.com/watch?v=1ck9LIBxO14" target="_blank">Introduction to ASP.NET Core MVC</a>" video. On Sunday, I spent the day
        developing this application, putting to use the tips and skills learned on Saturday. Resulting in this small RDA inspired application.
    </p>

    <p class="text-justify">
        To start, explore the links in the titlebar above. The application is a basic screen management suite. With the ability to report issues on a screen,
        then assign that issue to an engineer.
    </p>
</div>